.open {
	background: limegreen;
	color: white;
	padding: 1px 3px;
}

.closed {
	background: firebrick;
	color: white;
	padding: 1px 3px;
}

.merged {
	background: rebeccapurple;
	color: white;
	padding: 1px 3px;
}
